.blocks {
  height: 200px;
  border: 3px solid #878787;
  flex: 1 1 22%;
  margin: 30px;
  display: flex;
  font-family: sans-serif;
}
div.cont {
  background-color: #f5f5f5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
div.cont div.block {
  height: 200px;
  border: 3px solid #878787;
  flex: 1 1 22%;
  margin: 30px;
  display: flex;
  font-family: sans-serif;
}
div.cont .item1 {
  background-color: #00ff33;
  color: #ff0000;
  font-size: 45px;
  font-weight: 800;
}
div.cont .item2 {
  background-color: #ff0000;
  color: #00ff33;
  font-size: 28px;
  font-weight: 600;
}
div.cont .item2 div {
  padding: 10px;
}
div.cont .item3 {
  background-color: #0000ff;
  color: #00ff33;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
}
div.cont .item3 div {
  padding: 10px 0;
}
div.cont .item4 {
  background-color: #00fcfc;
  color: #ff0000;
  font-size: 20px;
  font-weight: 800;
}
div.cont .item5 {
  background-color: #00ff33;
  color: #ff00fb;
  font-size: 32px;
  font-weight: 600;
}
div.cont .item5 div {
  padding: 10px;
}
div.cont .item6 {
  background-color: #ff0000;
  color: #00ff33;
  font-size: 50px;
  font-weight: 700;
}
div.cont div.block-center {
  justify-content: center;
  align-items: center;
}
div.cont div.block-buttom {
  justify-content: center;
  align-items: flex-end;
}
div.cont div.block-right {
  justify-content: flex-end;
  align-items: center;
}
div.cont div.block-right-top {
  justify-content: flex-end;
  align-items: flex-start;
}
.center {
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  div.cont {
    flex-flow: collumn wrap;
  }
  div.cont div.block {
    margin: 10px;
  }
  div.cont div.block:first-child {
    height: 150px;
  }
  div.cont div.block:nth-child(2) {
    height: 150px;
  }
  div.cont .item1 {
    order: 1;
    background-color: #00ff33;
    color: #ff0000;
    font-size: 60px;
    font-weight: 800;
  }
  div.cont .item2 {
    order: 3;
    background-color: #ff0000;
    color: #00ff33;
    font-size: 50px;
    font-weight: 600;
  }
  div.cont .item2 div {
    padding: 30px;
  }
  div.cont .item3 {
    order: 4;
    background-color: #0000ff;
    color: #00ff33;
    font-size: 45px;
    font-weight: 600;
    font-style: italic;
  }
  div.cont .item3 div {
    padding: 10px 0;
  }
  div.cont .item4 {
    order: 2;
    background-color: #00fcfc;
    color: #ff0000;
    font-size: 20px;
    font-weight: 800;
  }
  div.cont .item5 {
    order: 5;
    background-color: #00ff33;
    color: #ff00fb;
    font-size: 40px;
    font-weight: 600;
  }
  div.cont .item5 div {
    padding: 10px;
  }
  div.cont .item6 {
    order: 6;
    background-color: #ff0000;
    color: #00ff33;
    font-size: 80px;
    font-weight: 700;
  }
  div.cont div.block-buttom {
    justify-content: flex-end;
    align-items: center;
  }
  div.cont div.block-right {
    justify-content: center;
    align-items: center;
  }
  div.cont div.block-right-top {
    justify-content: center;
    align-items: center;
  }
}

/* less
@grey: #f5f5f5;
@colorB: red;
@colorF: black;
@size: 20px;
@bolt: 800;

.blocks{
  height: 200px;
    border: 3px solid #878787;
    flex: 1 1 250px;
    margin:30px;    
    display: flex;
    font-family:sans-serif;
}

.colorSize(@colorB,@colorF,@size,@bolt ){
  background-color:@colorB;
  color:@colorF;
  font-size: @size;
  font-weight:@bolt;
}

div.cont{
  background-color: @grey;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  div.block{
    .blocks();
  }
  .item1{
    .colorSize(#00ff33,red,45px,800);
  }
  .item2{
    .colorSize(red,#00ff33,28px,600);
    div{
      padding:10px;
    }
  }
   .item3{
    .colorSize(blue,#00ff33,32px,600);
     font-style: italic;
    div{
      padding:10px 0;
    }
  }
   .item4{
    .colorSize(#00fcfc,red,20px,800);
   
  }
   .item5{
    .colorSize(#00ff33,#ff00fb,32px,600);
     div{
       padding: 10px;
     }
  }
   .item6{
    .colorSize(red,#00ff33,50px,700);
  }
  
  div.block{
    &-center{
      justify-content:center;
      align-items:center;
    }
    &-buttom{
      justify-content:center;
      align-items:flex-end;
    } 
    &-right{
      justify-content:flex-end;
      align-items:center;
      &-top{
        justify-content:flex-end;
        align-items:flex-start;
      }
    }
  }
}
.center{
  justify-content:center;
      align-items:center;
}
@media screen and (max-width: 500px){
  
   div.cont{
    flex-flow: collumn wrap;
     div.block{
       margin: 10px;
       &:first-child{
         height:150px;
       }
       &:nth-child(2){
         height:150px;
       }
     }
    .item1{
      order:1;
      .colorSize(#00ff33,red,60px,800);
      
    }
   .item2{
     order: 3;
    .colorSize(red,#00ff33,50px,600);
    div{
      padding:30px;
    }
  }
   .item3{
     order:4;
    .colorSize(blue,#00ff33,45px,600);
     font-style: italic;
    div{
      padding:10px 0;
    }
  }
   .item4{
     order:2;
    .colorSize(#00fcfc,red,20px,800);
   
  }
   .item5{
     order:5;
    .colorSize(#00ff33,#ff00fb,40px,600);
     div{
       padding: 10px;
     }
  }
   .item6{
     order: 6;
    .colorSize(red,#00ff33,80px,700);
  }
  
 
  div.block{
    &-buttom{
      justify-content:flex-end;
      align-items:center;
    }
    &-right{
      justify-content:center;
      align-items:center;
      &-top{
        justify-content:center;
      align-items:center;
      }
    }
    
  }
}
} */