*{
	margin: 0;
	padding: 0;
	font-weight: 800;
	font-size: 25pt;

}

div.contener{
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;

	background-color: #e8e8e8;
	padding:50px 30px;
}


div.topRow{
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	
}

div.buttomRow{
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

}

div.block{
	background-color: white;
	border: 1px solid black;
	width: 500px;
	height: 150px;
	margin-bottom: 30px;
	padding: 15px;
	display: flex;
	align-items: center;

}

div.small.block{
	width: 300px;	
}

div.small.block:first-child{
	justify-content: center;
 	align-items: flex-end;
}

div.buttomRow div.block:first-child p:first-letter{
 	color: red;
 }

 div.small.block:nth-child(2){
 	justify-content: center;
 	align-items: center;
 }

 div.small.block:last-child{
 	justify-content: center;
 	align-items:  flex-start;
 }

div.block:last-child{
 	justify-content: flex-end;
 	align-items: center;
 }

@media screen and (max-width: 600px){
	div.topRow{
		order: 2;
	}

	div.buttomRow{
		order: 1;
	}

	.block{
		padding: 10px 0;
	}

	div.buttomRow div.block:first-child p:first-letter{
 	color: black;
 }

div.small.block:first-child{
	order: 2;
	justify-content: flex-end;
 	align-items: center;
}

div.small.block:nth-child(2){
	order: 3;
 	justify-content: flex-start;
 	align-items: flex-end;
 }
 div.small.block:last-child{
 	width: 330px;
 	height: 180px;
 	padding: 0;
 	order: 1;
 	justify-content: flex-start;
 	align-items:  center;
 }

div.topRow div.block:nth-child(2) p:first-letter{
	color: red;
}

 div.buttomRow div.block:first-child{
 	order: 2;
 	justify-content: center;
 	align-items: flex-end;
 }

div.buttomRow div.block:last-child{
	order: 1;
 	justify-content: center;
 	align-items: flex-start;
 }



}
